<div class="container bg-light py-2">
  <div class="form-group">
    <h1 class="display-4">Disclosure verification</h1>
    <p class="lead">
      I verify that the information provided is correct and I would like to
      share it with the bank my information according to the best of my
      knowledge.
    </p>
  </div>

  <pre>
    {{ userDocuments | json }}
  </pre>

  <carousel>
    <slide *ngFor="let document of userDocuments">
      <img
        [src]="sanitizer.bypassSecurityTrustUrl(document.image)"
        [alt]="document.type"
        style="display: block; width: 100%"
      />
    </slide>
  </carousel>

  <a class="btn btn-primary" href="page4" role="button">Save&Continue</a>
</div>
