<div class="container-fluid bg-light py-2 mb-2 rounded">
  <h2>{{ title }}</h2>
  <div class="progress">
    <!-- <div
      class="progress-bar"
      role="progressbar"
      style="width: 25%"
      aria-valuenow="25"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div> -->
  </div>
  <div class="row">
    <div class="col">Business Details</div>
    <div class="col">Owner/Details</div>
    <div class="col">Disclosure/Verification</div>
    <div class="col">Funding/Details</div>
    <div class="col">Summary</div>
  </div>
</div>
<!-- <main flex layout="column">
  <div>
    <div ui-view=""></div>
  </div>
  <footer>
    <div class="text-center py-8" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
  </footer>
</main> -->
