<div class="container" style="border: solid springgreen">
  <h3>Funding Details</h3>
  <form>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="accountTypesOne"
      />
      <label class="form-check-label" for="accountTypesOne">
        Checking Account
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="accountTypesTwo"
      />
      <label class="form-check-label" for="accountTypesTwo">
        Saving Account
      </label>
    </div>
    <a class="btn btn-primary" href="page5" role="button">Save&Continue</a>
  </form>
</div>
