<div class="container" style="border: solid red 2px">
  <h2>Business Information</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="businessTypesDropdown">Business Type</label>
      <select id="businessTypesDropdown" class="form-control">
        <option>Please Select</option>
        <option>selection two</option>
      </select>
    </div>
    <div class="form-group">
      <label for="natureBussiness">Nature Of Business </label>
      <input type="text" class="form-control" id="natureBussiness" />
    </div>
    <div class="form-group">
      <label for="doingBusiness">Doing Business As </label>
      <input type="text" class="form-control" id="doingBusiness" />
    </div>
    <div class="form-group">
      <label for="tinTypesDropdown">TIN Type</label>
      <select id="tinTypesDropdown" class="form-control">
        <option>Please Select</option>
        <option>This is TypeTwo</option>
        <option>This is TypeThree</option>
      </select>
    </div>
    <div class="form-group">
      <label for="naicsType">NAICS Type</label>
      <select id="naicsType" class="form-control">
        <option>Please Select</option>
        <option>This is TypeTwo</option>
        <option>This is TypeThree</option>
      </select>
    </div>
    <div class="form-group">
      <label for="businessLegalName">Business Legal Name</label>
      <input type="text" class="form-control" id="businessLegalName" />
    </div>
    <div class="form-group">
      <label for="dateOfEstablishment">Date Of Establishment</label>
      <input type="text" class="form-control" id="dateOfEstablishment" />
    </div>
    <div class="form-group">
      <label for="taxIdentification">Tax Identification Number</label>
      <input type="text" class="form-control" id="taxIdentification" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <!-- <a class="btn btn-primary" href="page2" role="button">Save&Continue</a> -->
  </form>
</div>
